.chamber-perks {
    display: block;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    background-color: #a34a44;
    max-width: 75%;
    height: auto;
    margin: 0 auto;
    margin-top: -5px;
    color: #F0EdEE;
}

.user, .additional {
    max-width: 35%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    background-color:rgba(82, 103, 96, .1);
}

.user {
    margin-bottom: 20px;
}

legend {
    text-align: left;
    font-size: 1.5em;
    
}

.submitButton {
    text-align: center;
    padding: 10px;
}

.membership {
    margin-top: 10px;
    max-width: 75%;
}
    
/*thank you message*/
.thanks {
    max-width: 75%;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border: solid 1px black;
    padding: 10px;
    background-color:rgba(82, 103, 96, .1);
    text-align: center;
}